<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailSettings" type="EricNee.EmailSender.Business.MailSettings,EricNee.EmailSender.Business"/>
  </configSections>
  <mailSettings host="smtp.mxhichina.com" userName="system@gyzet.com" password="gyz@20131130!"></mailSettings>
  <connectionStrings>
    <add name="EmailSender" connectionString="server=10.1.3.226;uid=MailSender;pwd=E7B3CBC0D0;database=MailSender;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding sendTimeout="1:0:0" receiveTimeout="1:0:0" maxReceivedMessageSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetUrl="http://localhost:8090/mex" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EricNee.EmailSender.Service.MailService">
        <endpoint address="MailService.svc" contract="EricNee.EmailSender.IService.IMailService" binding="basicHttpBinding" name="MailSerivce"></endpoint>
        <endpoint contract="IMetadataExchange" address="mex" binding="mexHttpBinding"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add initializeData="Exception.log" type="EricNee.BaseComponent.Core.TextWriterTraceListener,EricNee.BaseComponent.Core" name="Exception"></add>
      </listeners>
    </trace>

  </system.diagnostics>
</configuration>