<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EmailSender" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="server=SRV02501;uid=sa;pwd=china!0000china!0000;database=MailSender_PROD;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>