<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MailSettings" type="EricNee.EmailSender.Business.MailSettings,EricNee.EmailSender.Business"/>
  </configSections>
  <MailSettings Host="smtp.ssab.com"></MailSettings>
  <connectionStrings>
    <add name="EmailSender" connectionString="server=SRV02501;uid=sa;pwd=china!0000china!0000;database=MailSender_TEST;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add initializeData="EmailSender.log" type="System.Diagnostics.TextWriterTraceListener" name="EmailSender"></add>
      </listeners>
    </trace>

  </system.diagnostics>
</configuration>