<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <mexHttpBinding>
        <binding name="mexHttpBinding"/>
      </mexHttpBinding>
      <basicHttpBinding >
        <binding name="basicHttpBinding" ></binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="EricNee.EmailSender.Service.MailService" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9000"/>
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" contract="EricNee.EmailSender.IService.IMailService"></endpoint>
        <!--<endpoint binding="mexHttpBinding" behaviorConfiguration="mex" address="mex"></endpoint>-->
        <endpoint contract="IMetadataExchange" behaviorConfiguration="endpointBehavior" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <serviceHostingEnvironment >
      <serviceActivations>
        <add relativeAddress="mail.svc" service="EricNee.EmailSender.Service.MailService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>