<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
       <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata policyVersion="soap15" httpGetBinding="basicHttpBinding" httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EricNee.EmailSender.Service.MailService">
        <endpoint binding="basicHttpBinding" contract="EricNee.EmailSender.IService.IMailService" address="MailService.svc">
        </endpoint>
        <endpoint binding="mexHttpBinding" contract="IMetadataExchange" address="mex" ></endpoint>
      </service>
    </services>
     </system.serviceModel>
</configuration>