<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailSettings" type="EricNee.EmailSender.Business.MailSettings,EricNee.EmailSender.Business"/>
  </configSections>
  <mailSettings host="smtp.ssab.com"></mailSettings>
  <connectionStrings>
    <add name="EmailSender" connectionString="server=SRV02501;uid=sa;pwd=china!0000china!0000;database=MailSender_DEV;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="true">
      <listeners>
        <add initializeData="EmailSender.log" type="System.Diagnostics.TextWriterTraceListener" name="EmailSender"></add>
      </listeners>
    </trace>

  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8090/MailService.svc" binding="basicHttpBinding"
          bindingConfiguration="basicHttpBinding" contract="EricNee.EmailSender.IService.IMailService"
          name="mailService" />
    </client>
  </system.serviceModel>
</configuration>